.slide-right {
  animation: fadeInLeft;
  animation-duration: 0.8s;
}

.slide-left {
  animation: fadeInRight;
  animation-duration: 0.8s;
}

.fade-in {
  animation: fadeIn;
  animation-duration: 2s;
}

.fade-in-about {
  animation: fadeIn;
  animation-duration: 1s;
}

.fade-in-slower {
  animation: fadeIn;
  animation-duration: 2s;
}

.fade-in-bottom {
  animation: fadeInUp;
  animation-duration: 1s;
}

.zoom {
  animation: zoomIn;
  animation-duration: 1s;
}